{% import 'macros.html.twig' as macros %}
<div class="card card-info">
              <!-- /.card-header -->
              <!-- form start -->
              {{ macros.formErrors(form) }} 
              {{ form_start(form) }}
                <div class="card-body">
                  <div class="form-group">
                    <label for="school_title">备注名</label>
                    {{ form_widget(form.note) }}
                  </div> 
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-info">保存</button>
                  <a href="{{ path('admin_user_index') }}" class='btn btn-success ml-2'>返回</a>
                </div>
           {{ form_end(form) }}
 </div>