{% extends 'admin/base.html.twig' %}
{% set  title ='所有学校(校区)' %}
{% block content %}
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>学校(校区)</th>
                <th>代理商</th>
                <th>平台佣金</th>
                <th>骑手佣金</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
        {% for school in schools %} 
            <tr>                
                <td>{{ school.title }}</td>
                <td><a href="tel:{{ school.agent.mobile }}">{{ school.agent.username }}</a>
                {% if not school.agent.note %} <a  href="{{ path('admin_user_edit',{'id':school.agent.id}) }}" class="btn btn-info btn-sm">备注</a> {% endif %}
                </td>
                <td>{{ school.commission }}</td>
                <td>{{ school.assistantCommission }}</td>
                <td>{{ school.status ? '已审核' :'待审核'}}</td>
                <td>                    
                    <a href="{{ path('admin_school_edit', {'id': school.id}) }}" class='btn btn-info btn-sm'>修改</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">还未添加学校</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">{{ knp_pagination_render(schools) }}</div>
    </div>
{% endblock %}
