{% extends 'my/security/layout.html.twig' %}

{% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('js/sms.js') }}"></script>    
{% endblock %}


{% set title= 'Change Password by mobile'|trans %}

{% block main_content %}

{{ form_start(form) }}
{{ form_errors(form) }}

<div class="form-group">  
      <label class="col-sm-2 control-label required" for="change_password_by_mobile_newPassword">Mobile Code</label>
      <div class="col-sm-10"><div class="input-group">  {{ form_widget(form.checkMobileCode) }}<span class="input-group-btn"><button type="button" class="btn btn-primary btn-flat" id="telcode-send" data-type="changePassword">Fetch Mobile Code</button></div> </div>
      
</div>

{{ form_row(form.newPassword) }}
{{ form_end(form) }}

{% endblock %}